---
http_interactions:
- request:
    method: get
    uri: https://boardgamegeek.com/xmlapi2/thing?id=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      etag:
      - W/"4db9bbd7e0b90d96f7551f11c8c4cea9"
      content-type:
      - text/xml; charset="UTF-8"
      warning:
      - 110 - "Response is Stale"
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?><items termsofuse=\"https://boardgamegeek.com/xmlapi/termsofuse\"><item
        type=\"boardgame\" id=\"1\">\n         <thumbnail>https://cf.geekdo-images.com/rpwCZAjYLD940NWwP3SRoA__thumb/img/YT6svCVsWqLrDitcMEtyazVktbQ=/fit-in/200x150/filters:strip_icc()/pic4718279.jpg</thumbnail>\n
        \     <image>https://cf.geekdo-images.com/rpwCZAjYLD940NWwP3SRoA__original/img/yR0aoBVKNrAmmCuBeSzQnMflLYg=/0x0/filters:format(jpeg)/pic4718279.jpg</image>\n
        \                                    \t\t\t\t\n\t\t\t\t<name type=\"primary\"
        sortindex=\"5\" value=\"Die Macher\" />\n\t\t\t\n\t\t\t\t\t\t                               \t\t\t\t\n\t\t\t\t<name
        type=\"alternate\" sortindex=\"1\" value=\"德国大选\" />\n\t\t\t    \t\t\t\t\n\t\t\t\t<name
        type=\"alternate\" sortindex=\"1\" value=\"디 마허\" />\n\t\t\t\n\t\t\t\t\t\t
        \              \t\t\t\t\t\t\t\t\t\t\t\t\t<description>Die Macher is a game
        about seven sequential political races in different regions of Germany. Players
        are in charge of national political parties, and must manage limited resources
        to help their party to victory. The winning party will have the most victory
        points after all the regional elections. There are four different ways of
        scoring victory points. First, each regional election can supply one to eighty
        victory points, depending on the size of t[...]
